<div class="field">
    <b>Language</b>:<select matNativeControl required [value]="[settings.language]">
        <option value="english">English</option>
        <option value="french">French</option>
        <option value="spanish">Spanish</option>
    </select>
</div>
<div class="field">
    <b>Show Notifications</b>:<input type="checkbox" value="[settings.notifications]">
</div>
<div class="field">
    <b>Location Tracking</b>:<input type="checkbox" value="[settings.locationTracking]">
</div>
<button>Update</button>