.card {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
}

.mat-card-header {
  text-align: center;
}

.card-action {
  text-align: center;
}

.header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
