<mat-card class="card">
  <div style="margin:20px">
    <mat-card-title>{{ comment.author }}</mat-card-title>
    <mat-card-subtitle>@{{ comment.username }}</mat-card-subtitle>
  </div>
  <mat-card-content style="margin-left:20px;">
    {{ comment.image }}
  </mat-card-content>
  <mat-list>
    <div style="text-align: center; padding:10px">
      <a mat-stroked-button style="margin-left:10px">React</a>
      <a mat-stroked-button style="margin-left:10px">Reply</a>
      <a mat-stroked-button style="margin-left:10px">Report</a>
    </div>
  </mat-list>
</mat-card>
