.field {
  padding: 2px 10px;
}

mat-form-field {
  max-width: 400px;
  width: 90%;
}

.btn {
  margin: 0 10px;
}

.error {
  font-size: small;
  color: red;
}

.container {
  text-align: center;
  padding: 30px 0;
}

.avatarLabel {
  color: rgba(0, 0, 0, 0.6);
}
