<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap>
    <div fxFlex="25%" class="layout-tile" fxLayoutAlign="center">
        <div fxLayout="column" class="column">
            <app-sort-widget></app-sort-widget>
        </div>
    </div>
    <div fxFlex="75%" class="layout-tile" fxLayoutAlign="center">
        <div fxLayout="column" class="column">
            <app-post-feed-item *ngFor="let post of posts" [post]="post" [user]="user" (getPosts)="getPosts()">
            </app-post-feed-item>
        </div>
    </div>
</div>