.card {
  width: 650px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid white;
}

.card:hover {
  border: 1px solid #cecece;
  cursor: pointer;
}

#image-container {
  text-align: center;
}

.mat-card-image:first-child {
  margin-top: 0px;
}

.mat-card-image {
  margin: 0;
  height: 450px;
  width: 450px;
}

.header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.card-actions {
  text-align: center;
}

.user-reactions {
  position: absolute;
  margin-left: 120px;
  top: 530px;
  background-color: white;
  font-size: 2em;
  border-radius: 25px;
  padding: 5px;
}

.user-reactions > span:hover {
  color: black;
}

.post-reactions {
  text-align: right;
}
