<div>
  <mat-card class="card">
    <mat-card-header>
      <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" />
      <mat-card-title>Super Shiba</mat-card-title>
      <mat-card-subtitle>@{{ post.author }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content (click)="handleClick(post.id)" id="image-container">
      <img mat-card-image [src]="[post.image]" />
    </mat-card-content>
    <div class="post-reactions">
      <span>❤️{{post.reactions.heart}}</span>️
      <span>😂{{post.reactions.laughing}}</span>️
      <span>😮{{post.reactions.wow}}</span>️
      <span>😢{{post.reactions.sad}}</span>️
      <span>😠{{post.reactions.angry}}</span>️
    </div>
    <div class="user-reactions" *ngIf="showReactions" (mouseover)="toggleReactions(true)">
      <div [ngClass]="{'selected': userHasReacted && currentReaction == 'heart'}" (click)="react('heart')">❤️</div>️
      <div [ngClass]="{'selected': userHasReacted && currentReaction == 'laughing'}" (click)="react('laughing')">😂
      </div>️
      <div [ngClass]="{'selected': userHasReacted && currentReaction == 'wow'}" (click)="react('wow')">😮</div>️
      <div [ngClass]="{'selected': userHasReacted && currentReaction == 'sad'}" (click)="react('sad')">😢</div>️
      <div [ngClass]="{'selected': userHasReacted && currentReaction == 'angry'}" (click)="react('angry')">😠</div>️
    </div>
    <mat-card-actions class="card-actions">
      <button [ngClass]="{'reacted': userHasReacted}" (mouseover)="toggleReactions(true)"
        (mouseleave)="toggleReactions(false)" mat-button>{{reactButtonText}}</button>
      <button mat-button>COMMENT</button>
      <button mat-button>REPORT</button>
    </mat-card-actions>
  </mat-card>
</div>