<mat-toolbar color="primary" style="height:10vh">
  <span>Image Discussion Board</span>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <div class="button-row">
    <button mat-button routerLink="/discussion-board">Discussion Board</button>
    <button mat-button routerLink="/leaderboard">Leaderboard</button>
    <button mat-button routerLink="/settings">Settings</button>
    <button *ngIf="!isLoggedIn" mat-button routerLink="/account/login">Login</button>
    <button *ngIf="!isLoggedIn" mat-button routerLink="/account/register">Register</button>
    <button *ngIf="isLoggedIn" mat-button (click)="logout()">Logout</button>
    <button mat-button routerLink="/admin">Admin</button>
  </div>
</mat-toolbar>
