<mat-card class="card">
  <div style="text-align: center; white-space: nowrap;">
    <mat-card-title>{{title}}</mat-card-title>
    <ngx-dropzone [class.dropzone]="background" (change)="onSelect($event)" [multiple]="false"
      [style.backgroundImage]="'url(' + background + ')'">
      <ngx-dropzone-label *ngIf="!background">Drop it, baby!</ngx-dropzone-label>
      <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
      </ngx-dropzone-preview>
    </ngx-dropzone>
    <br />
    <button *ngIf="buttonText" mat-raised-button color="primary" class="btn" (click)="post()">{{buttonText}}</button>
  </div>
</mat-card>