<mat-card class="card">
  <div style="text-align: center; margin-bottom:20px">
    <mat-card-title>Sort By</mat-card-title>
  </div>
  <mat-list>
    <div style="text-align: center; padding:10px">
      <a mat-button>Newest-Oldest</a>
    </div>
    <mat-divider></mat-divider>
    <div style="text-align: center; padding:10px">
      <a mat-button>Oldest-Newest</a>
    </div>
    <mat-divider></mat-divider>
    <div style="text-align: center; padding:10px">
      <a mat-button>Most Popular</a>
    </div>
    <mat-divider></mat-divider>
    <div style="text-align: center; padding:10px">
      <a mat-button>Most Comments</a>
    </div>
  </mat-list>
</mat-card>
