.card {
  padding: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.mat-card-image {
  margin: 0;
  width: 250px;
  height: 250px;
  margin-left: 70px;
}

.user-reactions {
  position: absolute;
  top: 70px;
  height: 40px;
  right: 0px;
  font-size: 2em;
  border-radius: 25px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
}

.user-reactions > div {
  display: inline-block;
  width: 32px;
  height: 36px;
}

.user-reactions > div.selected {
  background-color: lightskyblue;
  border-radius: 35%;
  line-height: 135%;
}

.user-reactions > div:hover {
  color: black;
}

.post-reactions {
  flex: 1 0 250px;
  text-align: right;
}

.reacted {
  color: lightskyblue;
}

.details {
  display: inline-block;
  text-align: right;
  padding-left: 60px;
  width: 100px;
}

.replyTotal {
  display: inline-block;
  flex: 0 0 100px;
}

.actions {
  position: absolute;
  width: 100px;
  right: 10px;
  top: 112px;
  padding-top: 0px;
}

.actionButton {
  margin: 5px 0px;
  width: 75px;
}

.actionButton:first-child {
  margin-top: 0px;
}

.title-container {
  display: inline-block;
  margin-left: 15px;
}

.replying-to {
  display: inline-block;
  position: absolute;
  right: 35px;
  cursor: pointer;
}

.parent-image {
  height: 70px;
  width: 70px;
  margin-bottom: -15px;
  margin-top: -10px;
}
