<div>
  <img [src]="[post.image]" width="10%" />
  <div class="post-info">
    <div><b>User:</b> {{ post.username }}</div>
    <div><b>Reports:</b> {{ post.report.reasons.length }}</div>
    <div><b>Most Popular Reason:</b> {{ post.report.reasons[0].reason }}</div>
    <div><b>Moderated:</b> {{ post.report.moderated }}</div>

    <br />
    <button mat-flat-button color="primary" [disabled]="post.report.moderated" (click)="remove()">
      <mat-icon class="icon">delete</mat-icon>Remove
    </button>
  </div>
</div>
